* {
  --spirals-colour: gray;
  --line-thickness: 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-color: #000;
}

#circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100vh;
  max-height: 100vh;
  aspect-ratio: 1;
}

.line {
  position: absolute;
  height: var(--line-thickness);
  background-color: var(--spirals-colour);
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: var(--line-thickness) solid var(--spirals-colour);
}
